{{extend '../_layouts/home.html'}}

{{block 'title'}}{{ 'Muto Hut' }}{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/markdown-github.css" />
<link
  rel="stylesheet"
  href="/public/lib/open-iconic-master/font/css/open-iconic-bootstrap.css"
/>
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
{{/block}}

{{block 'body'}}
<section class="container pt-3">
  <div class="card">
    <div class="card-body topic_area" id="{{ topic.id }}">
      <h5 class="card-title">
        <span class="top_sec">Q</span> {{ topic.title }}
      </h5>
      <div class="card-subtitle mb-2 text-muted">
        <div class="topic-subtitle">
          <span> {{ topic.createdTime }}</span>
          <span>
            Author <a href="#">{{ topic.author }}</a></span
          >
          <span> {{ topic.viewCount }} views</span>
          <span> From {{ topic.section }}</span>
        </div>
      </div>
      <div class="card-text content-style pt-1">
        <div class="markdown-body">
          <p>{{ topic.content }}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="addComment" class="card mt-3">
    <div class="block-style-header">
      <span>Add a new comment</span>
    </div>
    <div class="card-body pl-3 pt-2 pb-3">
      <form action="/{{ topic.id }}/comment" method="post">
        <div class="form-group mb-2">
          <textarea
            class="form-control"
            name="content"
            id="formControlComment"
            rows="4"
            minlength="1"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Reply</button>
      </form>
    </div>
  </div>

  <div id="Comments" class="card mt-3">
    <div class="block-style-header">
      <span>{{ topic.commentCount }} Comments</span>
    </div>
    {{ each comments }}
    <div class="cell-content pr-3 comment_area" id="{{ $value.id }}">
      <div class="user-content">
        <a
          href="/users/{{ $value.publisher_id }}"
          class="user-avatar float-left"
        >
          <img src="{{ $value.publisher_avatar }}" />
        </a>
        <div class="user-info">
          <a class="reply-author" href="/users/{{ $value.publisher_id }}">{{
            $value.publisher_name
          }}</a>
          <a class="reply-time" href="/topics/{{ topic.id }}#{{ $value.id }}"
            >• {{ $value.createdTime }}</a
          >
        </div>
        <div class="user-action float-right">
          <span class="oi oi-thumb-up up-btn {{ $value.uped }}"></span>
          <span class="up-count">{{ $value.upCount }}</span>
        </div>
      </div>
      <div class="reply-content">
        <div class="markdown-body">
          {{ $value.content }}
        </div>
      </div>
    </div>
    {{ /each }}
  </div>
</section>

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
  $('.up-btn').click(function(e) {
    e.preventDefault();
    var $this = $(this);
    var comment_id = $this.closest('.comment_area').attr('id');
    var topic_id = $this.closest('.topic_area').attr('id');

    $.ajax({
      url: '/topic/' + topic_id + '/comment/' + comment_id + '/upcount',
      type: 'post',
      dataType: 'json',
      success: function(data) {
        var err_code = data.err_code;
        if (err_code === 0) {
          var currentCount =
            Number(
              $this
                .next('.up-count')
                .text()
                .trim()
            ) || 0;

          if (data.action === 'up') {
            $this.addClass('uped');
            $this.next('.up-count').text(currentCount + 1);
          } else {
            $this.removeClass('uped');
            $this.next('.up-count').text(currentCount - 1);
          }
        } else {
          window.alert(data.message);
        }
      },
      error: function(err) {
        window.alert(err.responseJSON.message);
      }
    });
  });
</script>
{{/block}}
