{{extend './_layouts/home.html'}}

{{block 'title'}}{{ 'Muto Hut - Blog' }}{{/block}}
{{block 'head'}}
<!-- <script src="//raw.github.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script> -->
{{/block}}
{{block 'body'}}
<section class="container pt-3">
  <div id="sidebar" class="float-right">
    {{ if currentUser }}
    <div class="panel">
      <div class="header">Current User</div>
      <div class="inner userinfo">
        <div class="float-left mr-2">
          <a href="/users/{{ currentUser.id }}" }>
            <img class="user-avatar" src="{{ currentUser.avatar }}" />
          </a>
        </div>
        <a href="/users/{{ currentUser.id }}" }>
          <span class="dark">{{ currentUser.username }}</span>
        </a>
        <div class="user-profile">
          <span class="dark">{{ currentUser.bio }}</span>
        </div>
      </div>
    </div>
    {{ /if }}
    <div id="topicsWithoutComments" class="panel">
      <div class="header">Topics - no comments</div>
      <div class="inner no-padding">
        <p class="pl-10px">No topics</p>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="panel">
      <div class="header">
        <span
          id="section0"
          class="topic-tab"
          onclick="clickSection(this, event)"
          >All</span
        >
        <span
          id="section1"
          class="topic-tab"
          onclick="clickSection(this, event)"
          >Sharing</span
        >
        <span
          id="section2"
          class="topic-tab"
          onclick="clickSection(this, event)"
          >Questions and answers</span
        >
        <span
          id="section3"
          class="topic-tab"
          onclick="clickSection(this, event)"
          >Recruitment</span
        >
        <span
          id="section4"
          class="topic-tab"
          onclick="clickSection(this, event)"
          >Client testing</span
        >
      </div>
      <div class="inner no-padding">
        {{ if topics }}
        <div
          id="topic_list"
          total-page="{{ page.total }}"
          current-page="{{ page.current }}"
        >
          {{ each topics }}
          <div class="cell">
            <a
              class="user-avatar float-left"
              href="/users/{{ $value.authorId }}"
            >
              <img src="{{ $value.authorAvatar }}" />
            </a>
            <span class="reply_count float-left">
              <span class="count_of_replies">
                {{ $value.commentCount }}
              </span>
              <span class="count_seperator">/</span>
              <span class="count_of_visits">
                {{ $value.viewCount }}
              </span>
            </span>
            <a class="last_time float-right" href="/topics/{{ $value.id }}">
              {{ if $value.lastAuthorAvatar }}
              <img
                class="user_small_avatar"
                src="{{ $value.lastAuthorAvatar }}"
                alt=".."
              />
              {{ /if }}
              <span class="last_active_time">{{ $value.lastCommentTime }}</span>
            </a>
            <div class="topic_wrapper">
              <span class="top_sec">{{ $value.sectionAbbre }}</span>
              <a class="topic_title" href="/topics/{{ $value.id }}">{{
                $value.title
              }}</a>
            </div>
          </div>
          {{ /each }}
        </div>
        <div id="page-selection"></div>
        {{ else }}
        <p class="pl-10px">No topics</p>
        {{ /if }}
      </div>
    </div>
  </div>
</section>

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script
  type="text/javascript"
  src="/node_modules/bootpag/lib/jquery.bootpag.js"
></script>
<script>
  let urlQueryParams = new URLSearchParams(
    window.location.search.replace('?', '')
  );
  var section = urlQueryParams.get('section');

  if (section) {
    $('#section' + section).addClass('current-tab');
  } else {
    $('#section0').addClass('current-tab');
  }

  function urlRemovePage() {
    if (urlQueryParams.has('page')) {
      urlQueryParams.delete('page');
    }
  }

  if (document.getElementById('topic_list')) {
    const totalPage =
      Number(
        document.getElementById('topic_list').getAttribute('total-page')
      ) || 0;
    const currentPage =
      Number(
        document.getElementById('topic_list').getAttribute('current-page')
      ) || 0;
    // init bootpag
    $('#page-selection')
      .bootpag({
        total: totalPage,
        page: currentPage
      })
      .on('page', function(event, num) {
        e.preventDefault();
        urlQueryParams.set('page', num);
        window.location.href = '/?' + urlQueryParams.toString();
      });
  }

  $.ajax({
    url: '/topics/nocomments',
    type: 'get',
    dataType: 'json',
    success: function(data) {
      var code = data.code;
      var htmlString = '<ul class="unstyled">';
      if (code === 0) {
        $.each(data.topics, function(i, t) {
          htmlString +=
            '<li key="i"><div><a class="dark topic_title" href="/topics/' +
            t.id +
            '">' +
            t.title +
            '</a></div></li>';
        });
        htmlString += '</ul>';
        $('#topicsWithoutComments>.inner>.pl-10px').replaceWith(htmlString);
      } else if (code === 1) {
        // do nothing
      }
    }
  });

  function clickSection(sel, e) {
    e.preventDefault();
    var sectionQuery = $(sel).attr('id');
    urlRemovePage();
    urlQueryParams.set('section', sectionQuery[sectionQuery.length - 1]);
    window.location.href = '/?' + urlQueryParams.toString();
  }
</script>
{{/block}}
