{{extend './_layouts/home.html'}}

{{block 'title'}}{{ 'Muto Hut - Blog' }}{{/block}}

{{block 'body'}}
<section class="container pt-3">
  <div class="panel">
    <div class="inner">
      <div id="topic_list">
        {{ each topics }}
        <div class="cell">
          <a class="user_avatar float-left" href="#">
            <img src="../public/img/user2.png" />
          </a>
          <span class="reply_count float-left">
            <span class="count_of_replies">
              {{ $value.commentCount }}
            </span>
            <span class="count_seperator">/</span>
            <span class="count_of_visits">
              {{ $value.viewCount }}
            </span>
          </span>
          <a class="last_time float-right" href="/topics/{{ $value.id }}">
            <img class="user_small_avatar" src="../public/img/user2.png" />
            <span class="last_active_time">{{ $value.lastModifiedTime }}</span>
          </a>
          <div class="topic_wrapper">
            <span class="top_sec">Q</span>
            <a class="topic_title" href="/topics/{{ $value.id }}">{{
              $value.title
            }}</a>
          </div>
        </div>
        {{ /each }}
      </div>
    </div>
    <nav id="page" aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
{{/block}}
