<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light pr-5 pl-5"> -->
<nav
  class="navbar navbar-dark bg-dark navbar-expand-lg navbar-fixed-top pr-5 pl-5"
>
  <a class="navbar-brand" href="/">Muto Hut</a>
  <div class="mr-auto ml-3">
    <input
      id="search_input"
      class="form-control mr-sm-2 topic_hidden"
      type="search"
      placeholder="Search"
      onkeypress="enterEvent(event)"
    />
  </div>
  <div id="navbar-action" class="ml-auto">
    {{ if currentUser }}
    <a class="btn btn-outline-success my-2 my-sm-0" href="/topics/new">Post</a>
    {{ else }}
    <a class="btn btn-outline-success my-2 my-sm-0" href="/login">Login</a>

    <a class="btn btn-outline-success my-2 my-sm-0" href="/register"
      >Register</a
    >
    {{ /if }}
    {{ if currentUser }}
    <a
      class="dropdown-toggle"
      href="/users/{{ currentUser.id }}"
      id="navbarDropdownMenuLink"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      ><img
        class="user-avatar-25"
        id="avatarDisplayHeader"
        src="{{ currentUser.avatar }}"
        alt=""
      />
      <span class="caret"></span>
    </a>
    <div
      class="dropdown-menu dropdown-menu-right"
      aria-labelledby="navbarDropdownMenuLink"
    >
      <span class="dropdown-item-text"
        >Current user: {{ currentUser.username }}</span
      >
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/users/{{ currentUser.id }}"
        >Personal Homepage</a
      >
      <a class="dropdown-item" href="/settings/profile">Settings</a>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
    {{ /if }}
  </div>
</nav>

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
  var urlParams = new URLSearchParams(window.location.search.replace('?', ''));
  document.getElementById('search_input').value = urlParams.get('search');

  if (
    window.location.pathname.indexOf('topics') !== -1 ||
    window.location.pathname.indexOf('users') !== -1 ||
    window.location.pathname.indexOf('settings') !== -1
  ) {
    $('.topic_hidden').each(function(index, item) {
      item.style.display = 'none';
    });
  } else {
    $('.topic_hidden').each(function(index, item) {
      item.style.display = 'block';
    });
  }

  function enterEvent(e) {
    //See notes about 'which' and 'key'
    if (e.keyCode === 13) {
      e.preventDefault();
      var searchText = document.getElementById('search_input').value;
      var urlParams = new URLSearchParams(
        window.location.search.replace('?', '')
      );
      if (urlParams.has('page')) {
        urlParams.delete('page');
      }
      urlParams.set('search', searchText);
      window.location.href = '/?' + urlParams.toString();
    }
  }
</script>
